<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New user</title>
</head>
<body>
<div align="center">
<form th:method="POST" th:action="@{/admin}" th:object="${user}">
    <label for="name">Enter name:</label>
    <input type="text" th:field="*{name}" id="name"/>
    <br/>
    <label for="lastname">Enter lastname:</label>
    <input type="text" th:field="*{lastname}" id="lastname"/>
    <br/>
    <label for="password">Enter password:</label>
    <input type="text" th:field="*{password}" id="password"/>
    <br/>
    <div th:each="role : ${t_role}">
        <input type="checkbox" name="nameRoles" th:value="${role.role}" th:text="${role.role}" th:checked="${role.role} == USER"/>
        </div>
    <br/>
    <input type="submit" value="Create"/>
    <a th:href="@{/logout}">Exit</a>

</form>

</body>
</html>